body{
    background-image: url("snowflake-background.gif");
}

.text-blob{
    background-color: #eeec;
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#calculator {
    height: 400px;
}
.col { flex: 1; min-width: 0; }               /* min-width:0 prevents overflow */
.plotBox { height: 420px; width: 100%; }      /* choose a height you like */